<div class="container-xxl">

    <div *ngIf="loading" class="alert alert-warning text-center">
        <div class="spinner-border text-warning" role="status"></div>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger">
        {{errorMessage}}
    </div>

    <div *ngIf="successMessage" class="alert alert-success">
        {{successMessage}}
    </div>

    <div class="d-flex justify-content-center">
        <h1 class="display-1 align-middle">All beers</h1>
    </div>

    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-info btn-lg btn-block" routerLink="create">
            <h3 class="display-4">Add new</h3>
        </button>
    </div>

    <br>

    <form [formGroup]="form" (ngSubmit)="getBeers()">
        <div class="d-flex justify-content-center">
            <div class="input-group mb-3">
                <input type="text" class="form-control" formControlName="name" placeholder="Search by name..">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="collapse"
                    data-bs-target="#advancedSearchCollaplse" aria-expanded="false"
                    aria-controls="advancedSearchCollaplse">
                </button>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
        <div class="collapse mb-3" id="advancedSearchCollaplse">
            <div class="card card-body">
                <div class="mb-3">
                    <select-beer-type [form]="form"></select-beer-type>
                </div>

                <div class="mb-3">
                    <select-manufacturer [form]="form"></select-manufacturer>
                </div>

                <div class="mb-3">
                    <select-origin-country [form]="form"></select-origin-country>
                </div>

                <!-- temporary solution - switch to radios or else -->
                <div class="form-check form-switch mb-3">
                    <label class="form-check-label" for="isCraft">Is it craft?</label>
                    <input class="form-check-input" aria-label="Switch if beer is craft" formControlName="isCraft"
                        type="checkbox" id="isCraft">
                </div>

                <button class="btn btn-secondary" (click)="form.reset()">Clear & Search</button>
            </div>
        </div>
    </form>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-3">
        <div *ngFor="let beer of beers">
            <div class="card text-center">
                <img [src]="beer.imageLink" class="card-img-top" id="beerImage" alt="beer image">
                <div class="card-body">
                    <h5 class="card-title">{{beer.name}} {{beer.abv}}%</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <span class="me-1">{{beer?.manufacturer?.name}},</span>
                        <span class="me-1" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            [title]="beer.beerType?.description">{{beer.beerType?.name}},</span>
                        <span class="me-1" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            [title]="beer.originCountry?.description">{{beer.originCountry?.name}}</span>
                    </h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" id="flavoursList">
                        <div *ngIf="beer.isCraft">
                            <span class="badge rounded-pill bg-success text-dark me-1">craft</span>
                        </div>
                        <div *ngFor="let flavour of beer.flavours">
                            <span class="badge rounded-pill bg-warning text-dark me-1">{{flavour.name}}</span>
                        </div>
                    </li>
                </ul>
                <div class="card-footer">
                    <button type="button" id="editButton" class="btn btn-info"
                        [routerLink]="['edit', beer.id]">Edit</button>
                    <button type="button" id="detailsButton" class="btn btn-primary"
                        (click)="redirectToDetails(beer)">Details</button>
                    <button type="button" id="deleteButton" class="btn btn-danger" (click)="openModal(beer)"
                        data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                </div>
            </div>

            <!-- Modal for deleting the beer -->
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete
                                <em>{{beerToBeDeleted?.name}}</em> from the app?
                            </h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                (click)="deleteBeer(beerToBeDeleted?.id)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>