.card {
    height: 100%
}

.list-group {
    height: inherit
}

#editButton {
    float: left;
}

#deleteButton {
    float: right;
}

#flavoursList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#beerImage {
}