<div class="container-xxl">

  <div *ngIf="loading" class="alert alert-warning text-center">
    <div class="spinner-border text-warning" role="status"></div>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{errorMessage}}
  </div>

  <div *ngIf="successMessage" class="alert alert-success">
    {{successMessage}}
  </div>

  <div class="d-flex justify-content-center">
    <h1 class="display-1 align-middle">All flavours</h1>
  </div>

  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="create">
      <h3 class="display-4">Add new</h3>
    </button>
  </div>

  <br>

  <div class="d-flex justify-content-center">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search by name" [(ngModel)]="flavourName"
        (keyup.enter)="getFlavours()">
      <button type="button" class="btn btn-primary" (click)="getFlavours()">Search</button>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-striped align-middle">
      <caption class="text-center">Beer flavours</caption>
      <thead class="table-primary">
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let flavour of flavours">
          <td>{{flavour.name}}</td>
          <td class="text-end w-10"><button type="button" class="btn btn-primary me-1"
              [routerLink]="['edit', flavour.id]">Edit</button>
            <button type="button" class="btn btn-danger" (click)="openModal(flavour)" data-bs-toggle="modal"
              data-bs-target="#deleteModal">Delete</button>
          </td>

          <!-- Modal for deleting the flavour -->
          <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete
                    <em>{{flavourToBeDeleted?.name}}</em> from the app?
                  </h5>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                    (click)="deleteFlavour(flavourToBeDeleted?.id)">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
</div>