<div *ngIf="loading" class="alert alert-warning text-center">
    <div class="spinner-border text-warning" role="status"></div>
</div>

<div *ngIf="errorMessage" class="alert alert-danger">
    {{errorMessage}}
</div>

<div *ngIf="loading" class="alert alert-warning text-center">
    <div class="spinner-border text-warning" role="status"></div>
</div>

<div [formGroup]="form">
    <label class="form-label" for="selectFlavours">Flavours</label>
    <ng-multiselect-dropdown id="selectFlavours" name="selectFlavours" [formControlName]="'flavours'"
        [placeholder]="'Select at least one'" [settings]="dropdownSettings" [data]="allFlavours">
    </ng-multiselect-dropdown>

    <div *ngIf="flavours?.invalid && (flavours?.dirty || flavours?.touched)" class="alert alert-danger">
        <div *ngIf="flavours?.errors?.['required']">Please choose at least one flavour.</div>
    </div>
</div>